.spin-text:after {
    content: "";
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {content: "Soup";}
    20% {content: "Afang";}
    40% {content: "Egwusi";}
    60% {content: "Efo Riro";}
    80% {content: "Edikang ikong";}
    100% {content: "Okazi";}
    
}
.play:after {
    content: "";
    animation: play 6s linear infinite;
}
@keyframes play {
    0% {content: "Automated Bulk Lunch Meals";}
    100% {content: "Over 100+ Nutritious Meals";}
    
}
