.spin-text:after {
    content: "";
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0% {content: "Soup";}
    30% {content: "Okra";}
    50% {content: "Egwusi";}
    70% {content: "Vegetable";}
    100% {content: "Okazi";}
    
}
.play:after {
    content: "";
    animation: play 6s linear infinite;
}
@keyframes play {
    0% {content: "Automated Bulk Lunch Meals";}
    100% {content: "Over 100+ Nutritious Meals";}
    
}
